# lightning_logs
plots/
test/
# *.ckpt
scratch/
outputs/
.DS_Store
*.vscode
env/
*.egg-info
__pycache__
.ipynb_checkpoints
examples/voice_raw_out_ref=voice_produced.wav
examples/voice_raw_in.wav
examples/pretrained_baseline
med/
audio/
outputs/
env_test/
checkpoints/cdpam
checkpoints/probes
checkpoints/cdpam
checkpoints/proxies
checkpoints/LICENSE
checkpoints/style/libritts
proxy0
proxy0m
proxy2
proxy2m
spsa
tcn1
tcn2
*.sif
