numpy
torch==1.9.0
torchaudio==0.9.0
torchmetrics>=0.4.1
torchvision==0.10.0
audioread>=2.1.9
auraloss>=0.2.1
librosa>=0.8.1
matplotlib
pytorch-lightning>=1.4.0
SoundFile>=0.10.3.post1
tensorboard>=2.4.1
scikit-learn>=0.24.2
scipy
pyloudnorm>=0.1.0
resampy
julius>=0.2.6
torchopenl3
cdpam
wget
pesq
umap-learn
setuptools==58.2.0
